@page
@using HtmlToPdf.Web.Extensions
@model HtmlToPdf.Web.Pages.ReportModel
@{
    ViewData["Title"] = "Report";
}

<style>
    @@page {
        size: A4;
        margin: 0;
        width: 210mm;
        height: 297mm;
    }

    body {
        background: #eee;
    }
</style>

<form method="post" style="display: none;">
    <button type="submit">Print</button>
</form>

<div style="size: A4;
        width: 210mm;
        min-height: 297mm;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding: 5mm;
        background-image: url(/img/cover-bg.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
">
    <div style="text-align: center;">
        <img src="~/img/spendwatt-logo.svg" />
    </div>

    <div style="height: 133mm;"></div>

    <div style="display: inline-block; margin-left: 10mm;">
        <h4 style="margin-bottom: 1.5rem;">
            <span style="border-bottom: 2px solid #333;">ENERGY TRUST SOLUTION</span>
        </h4>
        <p style="color: #000; font-weight: 500;">
            LED Lighting - 1,025 Lights <br />
            Voltage Optimisation - 3,000kVA <br />
            Monitoring - 15 Circuits <br />
            Power Factor Correction - 550 kVAR <br />
            Solar Power - 100kW <br />
            Battery Energy Storage - 30 kWh <br />
        </p>
    </div>

    <div style="height: 10mm;"></div>

    <div style="display: inline-block; margin-left: 10mm;">
        <h4 style="margin-bottom: 1.5rem;">
            <span style="border-bottom: 2px solid #333;">OPPORTUNITY INFORMATION</span>
        </h4>
        <p style="color: #000; font-weight: 500;">
            Company: Company Name <br />
            Created Date: 16/03/2020 <br />
            Supply Address: 1205 Numurkan Rd, Katunga, VIX 3640 <br />
            Meter ID: 6203928552 <br />
            Attention: James Brock <br />
        </p>
    </div>
</div>
<div style="page-break-after: always; border: 1px solid #eee;"></div>

<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">ABOUT US</h2>
    <p>
        Smart Energy Answers is a Team of Solar Professionals, not just a sales and marketing company. We use our own Clean Energy Council accredited installation teams and designers/engineers.  
    </p>

    <p>
        With nearly a decade of experience in the solar energy field, and having completed over 5,000 residential and commercial installations, Smart Energy Answers brings together the knowledge and professionalism to provide you with the highest quality energy solutions for your individual needs. Our company name reflects our commitment and passion for empowering home and business owners to take control of their energy usage and costs.
    </p>

    <p>
        Aenean in augue ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor et lorem vel ultrices. Integer a varius mi. Donec in varius metus. Duis rutrum imperdiet mauris sit amet pharetra. Aenean vitae tortor urna.
    </p>
</div>
<div style="page-break-after: always; border: 1px solid #eee;"></div>

<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">OVERVIEW</h2>
    <div style="display: block;">
        <div>
            @foreach (var metric in Model.Metrics)
            {
                <div style="display: inline-block; width: 50mm; float: left; padding: 0 2mm;">
                    <div style="background: #0081b0; color: #fff; text-align: center; padding: 1rem; border-radius: 4px;">
                        <h4 style="text-transform: uppercase; font-size: 17px;">@metric.Title</h4>
                        <div style="font-size: 2rem;">@metric.Value</div>
                    </div>
                </div>
            }
            <div style="clear: both;"></div>
        </div>
    </div>

    <h3 style="text-transform: uppercase; margin: 2rem 0 1rem; font-size: 1.5rem;">project outcome</h3>
    <div style="border: 1px solid #dee2e6; padding: 2rem 0; text-align: center;">
        <div>
            <div style="display: inline-block; float: left; width: 62.71mm;">
                <h4 style="text-transform: uppercase; font-size: 1rem; font-weight: 500;">bill reduction</h4>
                <div style="color: #d90a7e; font-size: 1.5rem; font-weight: 600;">$55.00k&nbsp;&nbsp;30%</div>
                <div style="height: 24px; font-size: 11px; margin-top: 16px; color: #aaa;"></div>
            </div>
            <span style="font-size: 30px; float: left;">+</span>
            <div style="display: inline-block; float: left; width: 62.71mm;">
                <h4 style="text-transform: uppercase; font-size: 1rem; font-weight: 500;">other savings</h4>
                <div style="color: #d90a7e; font-size: 1.5rem; font-weight: 600;">$12.00k</div>
                <div style="height: 24px; font-size: 11px; margin-top: 16px; color: #aaa;"></div>
            </div>
            <span style="font-size: 30px; float: left;">=</span>
            <div style="display: inline-block; float: left; width: 62.71mm;">
                <h4 style="text-transform: uppercase; font-size: 1rem; font-weight: 500;">total savings</h4>
                <div style="color: #d90a7e; font-size: 1.5rem; font-weight: 600;">$67.00k</div>
                <div style="height: 24px; font-size: 11px; margin-top: 16px; color: #aaa;">Figures based on a 5 years average</div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <h3 style="text-transform: uppercase; margin: 2rem 0 1rem; font-size: 1.5rem;">technologies</h3>
    <div style="border: 1px solid #dee2e6">
        <table style="width: 100%; color: #212529; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="background: #eee; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">technology</th>
                    <th style="background: #eee; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">sell</th>
                    <th style="background: #eee; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">rebate</th>
                    <th style="background: #eee; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">out of pocket</th>
                    <th style="background: #eee; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">usage reduction</th>
                    <th style="background: #eee; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">demand reduction</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tech in Model.Technologies)
                {
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@tech.Name</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@tech.Sell.FormatMoney()</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@tech.Rebate.FormatMoney()</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@tech.OutOfPocket.FormatMoney()</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@tech.UsageReduction.FormatMoney()</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@tech.DemandReduction.FormatMoney()</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td style="padding: .75rem; background: #FBE7F2;">TOTAL</td>
                    <td style="padding: .75rem; background: #FBE7F2;">@{159_430d.FormatMoney();}</td>
                    <td style="padding: .75rem; background: #FBE7F2;">@{65_445d.FormatMoney();}</td>
                    <td style="padding: .75rem; background: #FBE7F2;">@{93_985d.FormatMoney();}</td>
                    <td style="padding: .75rem; background: #FBE7F2;">29%</td>
                    <td style="padding: .75rem; background: #FBE7F2;">8%</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <h3 style="text-transform: uppercase; margin: 2rem 0 1rem; font-size: 1.5rem;">carbon emission reduction</h3>
    <div style="background: #9C9D9B; padding: 10px 16px; width: 200px; font-weight: 600; border-radius: 4px; margin-bottom: 1rem;">4 tonns</div>
</div>
<div style="page-break-after: always; border: 1px solid #eee;"></div>

<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">ANNUAL CONSUMPTION &amp; DEMAND</h2>
    <div style="background: #eee; width: 200mm; height: 132mm;">
        <canvas width="200mm" height="132mm" id="chart1" data-chart="annual-consummtion1" class="chart" style="width: 200mm; height: 132mm;"></canvas>
        <!--<img />-->
    </div>
    <div style="height: 10mm;"></div>
    <div style="background: #eee; width: 200mm; height: 132mm;">
        <canvas width="200mm" height="132mm" data-chart="annual-consummtion2" id="chart2" class="chart" style="width: 200mm; height: 132mm;"></canvas>
        <!--<img />-->
    </div>
</div>
<div style="page-break-after: always; border: 1px solid #eee;"></div>

<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">DAILY CONSUMPTION</h2>

    <div style="background: #eee; width: 200mm; height: 132mm;">
        <canvas data-chart="daily-consumption1" class="chart" style="width: 200mm; height: 132mm;"></canvas>
        <!--<img />-->
    </div>
    <div style="height: 10mm;"></div>
    <div style="background: #eee; width: 200mm; height: 132mm;">
        <canvas data-chart="daily-consumption1" class="chart" style="width: 200mm; height: 132mm;"></canvas>
        <!--<img />-->
    </div>
</div>
<div style="page-break-after: always; border: 1px solid #eee;"></div>

<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">DAILY DEMAND</h2>

    <div style="background: #eee; width: 200mm; height: 132mm;">
        <canvas data-chart="daily-demand1" class="chart" style="width: 200mm; height: 132mm;"></canvas>
        <!--<img />-->
    </div>
    <div style="height: 10mm;"></div>
    <div style="background: #eee; width: 200mm; height: 132mm;">
        <canvas data-chart="daily-demand2" class="chart" style="width: 200mm; height: 132mm;"></canvas>
        <!--<img />-->
    </div>
</div>

<div style="page-break-after: always; border: 1px solid #eee;"></div>

<!-- bill saving -->
<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">ELECTRICITY BILL SAVINGS</h2>

    <div style="margin: 2rem 0 1rem;">
        <h3 style="text-transform: uppercase; margin: 0; font-size: 1.5rem; float: left;">BILL REDUCTION</h3>

        <div style="float: right;">
            <span style="margin-right: 20px;">
                <span style="width: 16px; height: 16px; background: #4D80B0; border-radius: 50%; display: inline-block;"></span>
                <b style="vertical-align: text-bottom;">Net Cost</b>
            </span>
            <span>
                <span style="width: 16px; height: 16px; background: #7DD80C; border-radius: 50%; display: inline-block;"></span>
                <b style="vertical-align: text-bottom;">Export</b>
            </span>
        </div>

        <div style="clear: both;"></div>
    </div>

    <div style="margin-bottom: 1rem;">
        <!-- left -->
        <div style="display: inline-block; width: 98mm; float: left; border: 1px solid #eee;">
            <div style="margin: 0 16px; border-bottom: 1px solid #eee; padding: 8px 0;">
                <b>NOW</b>
            </div>

            <div style="padding: 16px; padding-top: 10mm;">
                <div style="float: left; width: 24mm;">
                    <span style="font-size: .8rem;">Net Cost</span>
                    <h4 style="font-size: 1.2rem; color: #4d80b0">$100.00k</h4>
                </div>
                <!-- left -->

                <div style="float: right; width: 65mm; height: 65mm; background: #eee;">
                    <div>chart</div>
                </div>
                <!-- right -->

                <div style="clear: both; height: 15mm;"></div>
            </div>

            <div>
                <table style="width: 100%; color: #212529; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;" colspan="4">USAGE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in Model.UsageNow)
                        {
                            <tr>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Description</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Kwh</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Qty</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table style="width: 100%; color: #212529; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;" colspan="4">DEMAND</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in Model.DemandNow)
                        {
                            <tr>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Description</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Kwh</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Qty</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table style="width: 100%; color: #212529; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;" colspan="4">FIXED</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in Model.FixNow)
                        {
                            <tr>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Description</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Kwh</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Qty</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table style="width: 100%; color: #212529; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;" colspan="4">EXPORT</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in Model.ExportNow)
                        {
                            <tr>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Description</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Kwh</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Qty</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Cost</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: .75rem; vertical-align: top; background: #FBE7F2;" colspan="3">NET COST</td>
                            <td style="padding: .75rem; vertical-align: top; background: #FBE7F2;">$4,223.45</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>

        <!-- right -->
        <div style="display: inline-block; width: 98mm; float: right; border: 1px solid #eee;">
            <div style="margin: 0 16px; border-bottom: 1px solid #eee; padding: 8px 0;">
                <b style="display: inline-block; width: 30mm;">AFTER</b>
                <span>Bill Reduction</span>
                <b style="color: #D90A7E; margin: 0 8px;">$55.00k</b>
                <b style="color: #D90A7E">30%</b>
            </div>

            <div style="padding: 16px; padding-top: 10mm;">
                <div style="float: left; width: 24mm;">
                    <span style="font-size: .8rem;">Net Cost</span>
                    <h4 style="font-size: 1.2rem; color: #4d80b0">$45.00k</h4>

                    <div></div>
                    <span style="font-size: .8rem;">Export</span>
                    <h4 style="font-size: 1.2rem; color: #7DD80C">-$40.00k</h4>
                </div>
                <!-- left -->

                <div style="float: right; width: 65mm; height: 65mm; background: #eee;">
                    <div>chart</div>
                </div>
                <!-- right -->

                <div style="clear: both; text-align: right; font-size: .8rem; color: #aaa; height: 15mm; padding-top: 10mm;">
                    Figures based on a 5 year average
                </div>
            </div>

            <div>
                <table style="width: 100%; color: #212529; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;" colspan="4">USAGE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in Model.UsageAfter)
                        {
                            <tr>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Description</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Kwh</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Qty</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table style="width: 100%; color: #212529; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;" colspan="4">DEMAND</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in Model.DemandAfter)
                        {
                            <tr>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Description</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Kwh</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Qty</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table style="width: 100%; color: #212529; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;" colspan="4">FIXED</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in Model.FixAfter)
                        {
                            <tr>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Description</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Kwh</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Qty</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table style="width: 100%; color: #212529; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;" colspan="4">EXPORT</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in Model.ExportAfter)
                        {
                            <tr>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Description</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Kwh</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Qty</td>
                                <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@bill.Cost</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: .75rem; vertical-align: top; background: #FBE7F2;" colspan="3">NET COST</td>
                            <td style="padding: .75rem; vertical-align: top; background: #FBE7F2;">$4,116.67</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>

        <div style="clear: both;"></div>
    </div>

</div>

<div style="page-break-after: always; border: 1px solid #eee;"></div>

<!-- cash flow -->
<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">CASHFLOW</h2>
    <div style="background: #eee; width: 200mm; height: 132mm;">
        <canvas width="200mm" height="132mm" id="chart1" data-chart="annual-consummtion1" class="chart" style="width: 200mm; height: 132mm;"></canvas>
        <!--<img />-->
    </div>
    <div style="height: 10mm;"></div>
    <div style="background: #eee; width: 200mm; height: 132mm;">
        <canvas width="200mm" height="132mm" data-chart="annual-consummtion2" id="chart2" class="chart" style="width: 200mm; height: 132mm;"></canvas>
        <!--<img />-->
    </div>
</div>
<div style="page-break-after: always; border: 1px solid #eee;"></div>

<!-- assumption -->
<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">ASSUMPTIONS</h2>

    <table style="width: 100%; color: #212529; border-collapse: collapse; border: 1px solid #eee;">
        <tbody>
            @foreach (var assumption in Model.Assumptions)
            {
                if (assumption.IsTitle)
                {
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; background: #d8d8d8;">@assumption.Label</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="padding: .75rem; vertical-align: top;"><b>@assumption.Label:</b> @assumption.Value</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

<div style="page-break-after: always; border: 1px solid #eee;"></div>

<!-- quotation -->
<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">QUOTATION</h2>

    @foreach (var quote in Model.Quotations)
    {
        <div>
            <h3 style="text-transform: uppercase; font-size: 1.5rem;">@quote.Header</h3>
        </div>

        <table style="width: 100%; color: #212529; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="background: #000; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem; color: #fff;">PRICE</th>
                    <th style="background: #000; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem; color: #fff;">REBATE</th>
                    <th style="background: #000; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem; color: #fff;">OUT OF POCKET</th>
                    <th style="background: #000; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem; color: #fff;">OUT OF POCKET (Inc GST)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in quote.Primaries)
                {
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6; background: @(p.Highlight ? "#FBE7F2" : "#d8d8d8");">@p.Price</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6; background: @(p.Highlight ? "#FBE7F2" : "#d8d8d8");">@p.Rebate</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6; background: @(p.Highlight ? "#FBE7F2" : "#d8d8d8");">@p.OutOfPocket</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6; background: @(p.Highlight ? "#FBE7F2" : "#d8d8d8");">@p.OutOfPocketGst</td>
                    </tr>
                }
            </tbody>
        </table>

        foreach (var s in quote.Secondaries)
        {
            <div style="border: 1px solid #eee; border-top: none;">
                <div style="padding: .75rem; text-transform: uppercase; border-bottom: 1px solid #eee;">@s.Category</div>
                <div>
                    <table style="width: 100%; color: #212529; border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th style="text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">Description</th>
                                <th style="text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">Quantity</th>
                                <th style="text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">Unit Price</th>
                                <th style="text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in s.Products)
                            {
                                <tr>
                                    <td style="vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">@product.Description</td>
                                    <td style="vertical-align: middle; font-size: 1rem; padding: .75rem;">@product.Qty</td>
                                    <td style="vertical-align: middle; font-size: 1rem; padding: .75rem;">@product.UnitPrice</td>
                                    <td style="vertical-align: middle; font-size: 1rem; padding: .75rem;">@product.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        if (!string.IsNullOrWhiteSpace(quote.HelpText))
        {
            <div style="text-align: right; font-size: .8rem; color: #aaa; padding: 8px 0;">@quote.HelpText</div>
        }

        <div style="margin-bottom: 2rem;"></div>
    }
</div>

<div style="page-break-after: always; border: 1px solid #eee;"></div>

<!-- scope of works -->
<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">SCOPE OF WORKS</h2>

    <h3 style="font-size: 1.2rem;">LED LIGHTING</h3>
    <p>
        Inclusions<br/>
        ⋅ Installation by a CEC accredited designer and installer<br/>
        ⋅ Installation during normal business hours 7am - 5pm Monday to Friday<br/>
        ⋅ Equipment hire for safe site access and to maintain safe working conditions<br/>
        ⋅ Electrical inspection and Certificate of Electricity Safety (where required)<br/>
        ⋅ Application and commissioning with DNSP<br/>
        ⋅ Handover, training and owner’s manual<br/><br/>

        Exclusions<br/>
        ⋅ Movement of existing plant and equipment or modifications to building structure<br/>
        ⋅ Zero expert control<br/>
        ⋅ Assumes panels and racking can be placed on roof as pallets (if required) during lift<br/>
        ⋅ If the STC (where applicable) price fluctuates more than 5% from what was quoted this credit or variation charge will be passed on<br/>
        ⋅ Works to be carried out during normal business hours 7am - 5pm Monday to Friday<br/>
    </p>

    <h3 style="font-size: 1.2rem; margin-top: 10mm;">POWER FACTOR CORRECTION</h3>
    <p>
        Inclusions<br/>
        1. Installation by a CEC accredited designer and installer<br/>
        2. Installation during normal business hours 7am - 5pm Monday to Friday<br/>
        3. Equipment hire for safe site access and to maintain safe working conditions<br/>
    </p>

    <h3 style="font-size: 1.2rem; margin-top: 10mm;">SOLAR POWER</h3>
    <p>
        Sed sit amet arcu augue. Donec eu tempus sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed varius condimentum mauris at consequat. Phasellus rhoncus sed sem id porta. Nam feugiat ut est at eleifend. Etiam quis ipsum sed velit fringilla porttitor sed sit amet mauris.
    </p>
    <p>
        nisoi vehicula luctus. Suspendisse sollicitudin diam lorem, a ultricies augue lacinia eu. Etiam quis ipsum sed velit fringilla porttitor sed sit amet mauris. Nullam nunc nisi, tempus sed vehicula sed, dapibus vitae tellus.

        Cras gravida nunc ac augue pharetra, non auctor enim convallis. Nunc aliquam ornare nisl eu dignissim. Pellentesque id dui et diam ullamcorper efficitur id eu metus. Nunc et erat aliquet, varius odio quis, lobortis tellus. Nunc egestas mauris quis ante auctor maximus. Curabitur molestie erat nec nibh fermentum laoreet quis non justo. Mauris pretium egestas dapibus. Vivamus viverra efficitur nibh, eu dictum augue rhoncus sed. Cras molestie tempor mi id laoreet. Sed neque leo, ultricies et dolor eu, mollis luctus est.
    </p>
</div>

<div style="page-break-after: always; border: 1px solid #eee;"></div>

<div style="size: A4; width: 210mm; min-height: 297mm; margin-left: auto; margin-right: auto; background: #fff; padding: 5mm;">
    <h2 style="text-transform: uppercase; margin-bottom: 3rem;">WARRANTIES</h2>

    @foreach (var warranty in Model.Warranties)
    {
        <div style="margin-bottom: 10mm;">
            <h3 style="text-transform: uppercase; font-size: 1.5rem;">@warranty.Category</h3>

            <table style="width: 100%; color: #212529; border-collapse: collapse; border: 1px solid #d8d8d8;">
                <thead>
                    <tr>
                        <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">WARRANTY ITEM</th>
                        <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">PART NUMBER</th>
                        <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">PRODUCT DESCRIPTION</th>
                        <th style="background: #d8d8d8; text-transform: uppercase; vertical-align: middle; font-size: 1rem; font-weight: 500; padding: .75rem;">YEAR</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in warranty.Items)
                    {
                        <tr>
                            <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@item.Item</td>
                            <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@item.Part</td>
                            <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@item.Description</td>
                            <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">@item.Year</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<div style="page-break-after: always; border: 1px solid #eee;"></div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
