@page
@using HtmlToPdf.Web.Extensions
@model HtmlToPdf.Web.Pages.ReportModel
@{
    ViewData["Title"] = "Report";
}

    <div class="a4">
        <h2 class="page-title">ABOUT US</h2>
        <p>
            Smart Energy Answers is a Team of Solar Professionals, not just a sales and marketing company. We use our own Clean Energy Council accredited installation teams and designers/engineers.          </p>

        <p>
            With nearly a decade of experience in the solar energy field, and having completed over 5,000 residential and commercial installations, Smart Energy Answers brings together the knowledge and professionalism to provide you with the highest quality energy solutions for your individual needs. Our company name reflects our commitment and passion for empowering home and business owners to take control of their energy usage and costs.
        </p>

        <p>
            Aenean in augue ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor et lorem vel ultrices. Integer a varius mi. Donec in varius metus. Duis rutrum imperdiet mauris sit amet pharetra. Aenean vitae tortor urna.
        </p>
        <div class="pagebreak"></div>
    </div>

    <div class="a4">
        <h2 class="page-title">OVERVIEW</h2>
        <div>
            <div class="row">
                <div class="col-3">
                    <div class="overview-block">
                        <h4 class="overview-block__title">value</h4>
                        <div class="overview-block__value">$2.8M</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="overview-block">
                        <h4 class="overview-block__title">rebate</h4>
                        <div class="overview-block__value">$9.7k</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="overview-block">
                        <h4 class="overview-block__title">out of pocket</h4>
                        <div class="overview-block__value">$2.8M</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="overview-block">
                        <h4 class="overview-block__title">roi</h4>
                        <div class="overview-block__value">5 years</div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="page-sub-title">project outcome</h3>
        <div class="border py-3">
            <div class="align-items-center d-flex py-3">
                <div class="outcome-block">
                    <h4 class="outcome-block__title">bill reduction</h4>
                    <div class="outcome-block__value">$55.00k&nbsp;&nbsp;30%</div>
                    <div class="outcome-block__padding"></div>
                </div>
                <span style="font-size: 30px">+</span>
                <div class="outcome-block">
                    <h4 class="outcome-block__title">other savings</h4>
                    <div class="outcome-block__value">$12.00k</div>
                    <div class="outcome-block__padding"></div>
                </div>
                <span style="font-size: 30px">=</span>
                <div class="outcome-block">
                    <h4 class="outcome-block__title">total savings</h4>
                    <div class="outcome-block__value">$67.00k</div>
                    <div class="outcome-block__padding">Figures based on a 5 years average</div>
                </div>
            </div>
        </div>
        
        <h3 class="page-sub-title">technologies</h3>
        <div class="border">
            <table class="table table--header">
                <thead>
                    <tr>
                        <th>technology</th>
                        <th>sell</th>
                        <th>rebate</th>
                        <th>out of pocket</th>
                        <th>usage reduction</th>
                        <th>demand reduction</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tech in Model.Technologies)
                    {
                        <tr>
                            <td>@tech.Name</td>
                            <td>@tech.Sell.FormatMoney()</td>
                            <td>@tech.Rebate.FormatMoney()</td>
                            <td>@tech.OutOfPocket.FormatMoney()</td>
                            <td>@tech.UsageReduction.FormatMoney()</td>
                            <td>@tech.DemandReduction.FormatMoney()</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>TOTAL</td>
                        <td>@{159_430d.FormatMoney();}</td>
                        <td>@{65_445d.FormatMoney();}</td>
                        <td>@{93_985d.FormatMoney();}</td>
                        <td>29%</td>
                        <td>8%</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <h3 class="page-sub-title">carbon emission reduction</h3>
        <div>4 tonns</div>
    </div>

